<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Khai báo section cho Entity Framework 6 -->
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- Kết nối tới SQL Server -->
	<connectionStrings>
		<!-- Dùng 1 tên duy nhất để tránh nhầm lẫn -->
		<add name="HospitalDb" connectionString="Data Source=LAPTOP-2M0DQDG7\SQLEXPRESS;Initial Catalog=HospitalDB;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	<add name="Model1" connectionString="data source=LAPTOP-2M0DQDG7\SQLEXPRESS;initial catalog=HospitalDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>

	<!-- EF6 provider (để dự án đang dùng EF6 không bị lỗi) -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<!-- Chạy .NET Framework 4.8 -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
